* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/game.jpg);
}

li {
    font-size: 1rem;
    color: rgb(201, 201, 201);
    letter-spacing: 1.4px;
    text-shadow: 0 0 15px black;
}

.white {
    color: rgb(9, 236, 39);
    text-shadow: 2px 2px 5px rgb(90, 85, 85);
    font-size: 2rem;
}

.description {
  text-align: center;
  margin-top: 10px;
}

.players,
.right {
    margin-top: 20px;
}


.canvas_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.canvas {
    background-color: rgba(5, 5, 5, 0.699);
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px rgba(252, 252, 252, 0.425);
}

.canvas {
    width: 330px;
}

@media screen and (min-width:768px) {

    .canvas {
        width: 750px
    }

}

@media screen and (min-width:1305px) {
    
    .canvas {
        width: 1300px
    }
    .players {
        display: flex;
        justify-content: space-evenly;
    }
    
    .right {
        margin: 0;
    }
    
    .white {
        font-size: 2.5rem;
    }
    
    li {
        font-size: 1.2rem;
    }
}